/*
 violet : #9356DC
 rose : #FF79DA
 bleu : #99E2D0
 */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

header {
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0px 3px 5px #b8b8b8;
          box-shadow: 0px 3px 5px #b8b8b8;
  position: -webkit-sticky;
  position: sticky;
}

#logo {
  padding-top: 30px;
  margin: auto;
  display: block;
  width: 200px;
}

.localisation {
  background-color: #ebebeb;
  width: 100%;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #494949;
}

.localisation span {
  margin-left: 10px;
}

.explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-overflow: clip;
  font-family: 'Roboto', sans-serif;
  padding: 40px;
  background-color: #f7f7f7;
  gap: 20px;
}

.explorer h2 {
  font-size: 25px;
  font-weight: bolder;
}

.explorer span {
  color: #494949;
  font-size: 17px;
}

.explorer-button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9b57c0), color-stop(#c053c0), color-stop(#e268e4), to(#ff8ade));
  background-image: linear-gradient(0deg, #9b57c0, #c053c0, #e268e4, #ff8ade);
  width: 210px;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-box-shadow: 0px 4px 7px #b8b8b8;
          box-shadow: 0px 4px 7px #b8b8b8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.explorer-button:hover {
  cursor: pointer;
  opacity: 90%;
  -webkit-box-shadow: 0px 4px 7px #969696;
          box-shadow: 0px 4px 7px #969696;
}

.fonctionnement {
  margin-top: 50px;
}

.fonctionnement h2 {
  margin-left: 25px;
}

.fonctionnement .box-text {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  font-weight: bolder;
}

.fonctionnement .box-list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: absolute;
  margin-left: -12px;
  color: white;
  background-color: #9b57c0;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement-logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 40px;
  color: grey;
}

.fonctionnement-all-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.fonctionnement-box {
  width: 320px;
  height: 80px;
  background-color: #f7f7f7;
  border-radius: 35px;
  -webkit-box-shadow: 0px 4px 7px #b8b8b8;
          box-shadow: 0px 4px 7px #b8b8b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonce {
  background-color: #f2e4f2;
}
/*# sourceMappingURL=style.css.map */