/*
 violet : #9356DC
 rose : #FF79DA
 bleu : #99E2D0 ease-in
 */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
}

a {
  color: black;
  text-decoration: none;
}

.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: white;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 30;
  -webkit-animation-name: disappear;
          animation-name: disappear;
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #9b57c0;
  border-color: #9b57c0 transparent #9b57c0 transparent;
  -webkit-animation: loader 1.2s linear infinite;
          animation: loader 1.2s linear infinite;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes disappear {
  99% {
    height: 100vh;
    visibility: visible;
  }
  100% {
    height: 0px;
    visibility: hidden;
  }
}

@keyframes disappear {
  99% {
    height: 100vh;
    visibility: visible;
  }
  100% {
    height: 0px;
    visibility: hidden;
  }
}

header {
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0px 3px 5px #b8b8b8;
          box-shadow: 0px 3px 5px #b8b8b8;
  position: -webkit-sticky;
  position: sticky;
  z-index: 20;
}

#logo {
  padding-top: 30px;
  margin: auto;
  display: block;
  width: 200px;
}

.localisation {
  background-color: #ebebeb;
  width: 100%;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #494949;
}

.localisation span {
  margin-left: 10px;
}

.explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-overflow: clip;
  font-family: 'Roboto', sans-serif;
  padding: 40px;
  background-color: #f7f7f7;
  gap: 20px;
}

.explorer h2 {
  font-size: 25px;
  font-weight: bolder;
}

.explorer span {
  color: #494949;
  font-size: 17px;
}

.explorer-button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9b57c0), color-stop(#c053c0), color-stop(#e268e4), to(#ff8ade));
  background-image: linear-gradient(0deg, #9b57c0, #c053c0, #e268e4, #ff8ade);
  width: 210px;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-box-shadow: 0px 4px 7px #b8b8b8;
          box-shadow: 0px 4px 7px #b8b8b8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.explorer-button:hover {
  cursor: pointer;
  opacity: 90%;
  -webkit-box-shadow: 0px 4px 7px #969696;
          box-shadow: 0px 4px 7px #969696;
}

.fonctionnement h2 {
  text-align: center;
  margin-right: 150px;
  padding-top: 50px;
}

.fonctionnement .box-text {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  font-weight: bolder;
}

.fonctionnement .box-list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: absolute;
  margin-left: -12px;
  color: white;
  background-color: #9b57c0;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement-logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 40px;
  color: grey;
}

.fonctionnement-all-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.fonctionnement-box {
  width: 320px;
  height: 80px;
  background-color: #f7f7f7;
  border-radius: 35px;
  -webkit-box-shadow: 0px 4px 7px #b8b8b8;
          box-shadow: 0px 4px 7px #b8b8b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonce {
  background-color: #f2e4f2;
}

.restaurants {
  background-color: #f7f7f7;
  margin-top: 40px;
  padding-bottom: 60px;
}

.restaurants h2 {
  text-align: center;
  margin-right: 180px;
  padding-top: 50px;
}

.restaurants-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants-all .restaurants-one {
  width: 320px;
  height: 240px;
  border-radius: 30px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 4px 7px #b8b8b8;
          box-shadow: 0px 4px 7px #b8b8b8;
}

.restaurants-all .restaurants-one .restaurants-img {
  width: 100%;
  height: 70%;
}

.restaurants-all .restaurants-one .restaurants-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.restaurants-all .restaurants-one .restaurants-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants-all .restaurants-one .restaurants-desc .desc-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants-all .restaurants-one .restaurants-desc .desc-desc .desc-title {
  font-weight: 800;
}

.restaurants-all .restaurants-one .restaurants-desc .desc-desc .desc-text {
  font-size: 15px;
  font-weight: 200;
  margin-top: 4px;
}

.restaurants-all .restaurants-one .restaurants-desc .desc-icon {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants-all .restaurants-one .restaurants-desc .desc-icon .fa-heart {
  text-shadow: 0 0 2px #000;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.restaurants-all .restaurants-one .restaurants-desc .desc-icon .fa-heart:hover {
  color: #9b57c0;
  cursor: pointer;
}

.nouveau {
  position: absolute;
  margin-left: 210px;
  margin-top: 20px;
  border-radius: 5px;
  width: 90px;
  height: 33px;
  background-color: #b6f0d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3ca265;
  font-weight: 600;
  font-size: 15px;
  z-index: 90;
}

footer {
  z-index: 20;
  position: -webkit-sticky;
  position: sticky;
  background-color: #404040;
  padding: 20px;
  color: white;
}

footer .footer-title {
  font-family: 'Shrikhand', cursive;
  font-size: large;
}

footer ul {
  list-style: none;
  margin-top: 15px;
}

footer li {
  margin-top: 7px;
  color: white;
}

footer li .list-big-text {
  font-weight: 500;
}

footer li i {
  width: 20px;
  height: 20px;
}

footer li a {
  color: white;
}
/*# sourceMappingURL=styleaccueil.css.map */