 @import "../utils/variables";

.localisation {
    background-color:rgb(235, 235, 235);
    width: 100%;
    height: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(73, 73, 73);
}

.localisation span {
    margin-left: 10px;
}

.explorer {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-overflow: clip;
    padding: 40px;
    background-color: $whitegrey;
    gap : 20px;

    h2 {
        font-size: 25px;
        font-weight: bolder;
    }

    span {
        color: rgb(73, 73, 73);
        font-size: 17px;
    }
}
.explorer-button {
    @include gradient;
    width: 210px;
    height: 50px;
    border-radius: 30px;
    border: none;
    color: $white;
    font-size: 16px;
    @include box-shadow;
    transition: 0.2s;
    &:hover {
        cursor: pointer;
        opacity: 90%;
        box-shadow: 0px 4px 7px rgb(150, 150, 150);
    }
}

.fonctionnement {
    h2 {
        text-align: center;
        margin-right: 150px;
        padding-top: 50px;
    }
    .box-text {
        flex-grow: 4;
        font-weight: bolder;
    }

    .box-list {
        flex-grow: 1;
        position: absolute;
        margin-left: -12px;
        color: white;
        background-color: $primary-color;
        width: 25px;
        height: 25px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.fonctionnement-logo {
    flex-grow: 1;
    margin-left: 40px;
    color: grey;
}

.fonctionnement-all-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
}

.fonctionnement-box {
    width: 320px;
    height: 80px;
    background-color: $whitegrey;
    border-radius: 35px;
    @include box-shadow;
    display: flex;
    align-items: center;
    .fa-store {
        color : $primary-color;
    }
}

.fonce {
    background-color: rgba(241, 213, 241, 0.3);
}

.restaurants {
    background-color: $whitegrey;
    margin-top: 40px;
    padding-bottom: 60px;

    h2 {
        text-align: center;
        margin-right: 180px;
        padding-top: 50px;
    }
}

.restaurants-all {
    display: flex;
    flex-direction: column;
    align-items: center;

    .restaurants-one {
        width: 320px;
        height: 240px;
        border-radius: 30px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: white;
        @include box-shadow;

        .restaurants-img {
            width: 100%;
            height: 70%;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .restaurants-desc {
            display: flex;
            margin-top: 15px;
            margin-left: 20px;
            margin-right: 20px;
            justify-content: space-between;

            .desc-desc {
                display: flex;
                flex-direction: column;

                .desc-title {
                    font-weight: 800;
                }
                .desc-text {
                    font-size: 15px;
                    font-weight: 200;
                    margin-top: 4px;
                }
            }

            .desc-icon {
                width: 30%;
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .fa-heart {
                    text-shadow: 0 0 2px #000;
                    color: white;
                    transition: 0.3s;
                    transition-duration: 0.3s;
                }

                .fa-heart:hover {
                    color: #9b57c0;
                    cursor: pointer;
                }
            }

        }

    }
    
}
.nouveau {
    position: absolute;
    margin-left: 210px;
    margin-top: 20px;
    border-radius: 5px;
    width: 90px;
    height: 33px;
    background-color: $terciary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $nouveau-back;
    font-weight: 600;
    font-size: 15px;
    z-index: 90;
}


