#menu-top {
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        position: absolute;
        margin-top: -250px;
    }
}

#menu {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $whitegrey;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 250px;
    position: relative;
    width: 100%;
}

.menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
        margin-left: 5%;
        margin-right: 5%;
    }
    @media screen and (min-width: 767px) {
        margin: auto;
        padding: auto;
        width: 500px;
    }

    .menu-title-text {
        font-family: 'Shrikhand', cursive;
        font-size: 24px;
        font-weight: 500;
    }
    
    .fa-heart {
        margin-right: 3%;
        text-shadow: 0 0 2px #000;
        color: $whitegrey;
        transition: 0.3s;
        transition-duration: 0.3s;
    }

    .fa-heart:hover {
        color: $primary-color;
        cursor: pointer;
    }
}

.menu-entree, .menu-plat, .menu-dessert {
    @media screen and (max-width: 767px) {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 25px;
    }
    @media screen and (min-width: 767px) {
        width: 500px;
        margin: auto;
        margin-top: 25px;
        padding: auto;
    }
    .menu-entree-title, .menu-plat-title, .menu-dessert-title {
        font-size: 16px;
        font-weight: 400;
    }



    .menu-entree-title-bar, .menu-dessert-title-bar {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid $terciary-color 3px;
        width: 50px;
        margin-top: 3px;
    }
    .menu-plat-title-bar {
        @extend .menu-entree-title-bar;
        width: 40px;
    }
}

.menu-one {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    border-radius: 15px;
    background-color: $white;
    @include box-shadow;

    &:hover .menu-one-desc {
        width: 60%;
    }
    &:hover {
        cursor: pointer;
    }
    &:hover .menu-one-anim {
        opacity: 1;
        width: 70px;
    }
    &:hover i {
        /* Animation Rotation */
        animation-name: rotation;
        animation-duration: 0.3s;
        animation-timing-function: ease-out;
    }
    .menu-one-anim {
        background-color: $terciary-color;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        justify-content: center;
        align-items: center;
        display: flex;
        overflow: hidden;
        width: 0px;
        opacity: 0.8;
        transform-origin: right 50%;
        transition-property: width, opacity;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        i {
            color: $white;
            overflow: hidden;
        }
    }
    .menu-one-price {
        width: 30px;
        /*border: solid 3px blue;*/
        display: flex;
        align-items: flex-end;

        .menu-one-desc-price {
            display: flex;
            align-items: flex-end;
            font-weight: 800;
            margin-bottom: 9px;
            margin-top: 5px;
        }
    }
    .menu-one-desc {
        display: flex;
        flex-direction: column;
        /*border: solid 3px red;*/
        width: 80%;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        transition-property: width;
        .menu-one-desc-title {
            font-size: 15px;
            font-weight: 800;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 99%;
            margin-top: 9px;
            margin-left: 12px;
            /*border: solid 1px green;*/
        }
        .menu-one-desc-text {
            margin-top: 5px;
            font-size: 13px;
            font-weight: 400;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 99%;
            margin-top: 9px;
            margin-bottom: 9px;
            margin-left: 12px;
            /*border: solid 1px green;*/
        }
    }
}

.commander {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


